<!DOCTYPE html>

@{
    var isDarkMode = false;
    var isCustomTheme = false;

    if (Context.Request.Cookies["customtheme"] == "true") {
        isCustomTheme = true;
    } else if (Context.Request.Cookies["darkmode"] == "true") {
        isDarkMode = true;
    }

    if (isCustomTheme)
    {
        <style>
            :root {
                --bg-color: @Context.Request.Cookies["customcolorbg"];
                --text-color: @Context.Request.Cookies["customcolortext"];
                --link-color: @Context.Request.Cookies["customcolorlink"];
                --link-hover-color: @Context.Request.Cookies["customcolorlinkhover"];
                --link-visited-color: @Context.Request.Cookies["customcolorlinkvisited"];
                --link-visited-hover-color: @Context.Request.Cookies["customcolorlinkvisitedhover"];
                --border-color: @Context.Request.Cookies["customcolorborder"];
                --footer-bg-color: @Context.Request.Cookies["customcolorfooterbg"];
                --footer-text-color: @Context.Request.Cookies["customcolorfootertext"];
                --navbar-color: @Context.Request.Cookies["customcolornavbar"];
                --navbar-text-color: @Context.Request.Cookies["customcolornavbartext"];
            }
        </style>
    }
    else if (isDarkMode)
    {
        <style>
            :root {
                --bg-color: #1a1a1a;
                --text-color: #f0f0f0;
                --link-color: #f0f0f0;
                --link-hover-color: #f0f0f0;
                --link-visited-color: #f0f0f0;
                --link-visited-hover-color: #f0f0f0;
                --border-color: #e5e5e5;
                --footer-bg-color: #1a1a1a;
                --footer-text-color: #f0f0f0;
                --navbar-color: #1a1a1a;
                --navbar-text-color: rgba(255,255,255,1);
            }

        </style>
    }
    else
    {
        <style>
            :root {
                --bg-color: #f0f0f0;
                --text-color: #1a1a1a;
                --link-color: #0000FF;
                --link-hover-color: #1111FF;
                --link-visited-color: #1111AA;
                --link-visited-hover-color: #1a1a1a;
                --border-color: #f0f0f0;
                --footer-bg-color: #d0d0d0;
                --footer-text-color: #1a1a1a;
                --navbar-color: #f0f0f0;
                --navbar-text-color: rgba(0,0,0,1);
                ;
            }
        </style>
    }

}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sparktonian</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SparktonianNet.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: var(--navbar-color); border-color: var(--border-color);">
            <div class="container">
                <a class="navbar-brand" style="color: var(--navbar-text-color);" asp-area="" asp-page="/Index">SparktonianNet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" style="color: var(--navbar-text-color);" asp-area="" asp-page="/Index">Home</a>
                        </li>   
                        <li class="nav-item">
                            <a class="nav-link" style="color: var(--navbar-text-color);" asp-area="" asp-page="/Projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: var(--navbar-text-color);" asp-area="" asp-page="/Games">Web Games</a>
                        </li>
                        <li class="nav-item" style="margin-left:auto;">
                            <a class="nav-link" style="color: var(--navbar-text-color);" asp-area="" asp-page="/Settings">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: var(--navbar-text-color);" asp-area="" asp-page="/About">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color: var(--footer-text-color)">
            &copy; 2024 - SparksCool - <a href="https://github.com/SparksCool/SparktonianNet/">Source Code</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>